### 1. What exactly is []?

#### Answer:-
       The above symbol refered as square brackets are brackets. This Brackets are used to assign the list data type.This Brackets supports the mutablility,we can push and pop elements from and to the bracket.List are iterable so we can work on for loops.

### 2.  In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

#### Answer:-
        let spam consit of elements 2,4,6,8,10 
        basing on the index operation we can insert the hello value as a third value.
        index of 0 = 2
        index of 1 = 4
        index of 2 = 6
        index of 3 = 8
        index of 4 = 10 
        so we have to insert the value at index no on 2 
        spam = [2,4,6,8,10]
        spam[2] = "hello"

In [1]:
spam = [2,4,6,8,10]
spam[2]= "hello"
spam

[2, 4, 'hello', 8, 10]

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [2]:
spam[::] = "abcd"
spam

['a', 'b', 'c', 'd']

### 3. What is the value of spam[int(int('3' * 2) / 11)]?

#### Answer:-
        The query follow on step by step 
        step - 1: int("3"*2) = int("33")  It is type casting it making string to integer
        step - 2: integer 33 is divided by 11 so new value is 3
        step - 3: spam[3] = index of 3 in list is "d"
        step - 4: so the final value of spam[int(int("3"*2)/11)]  is "d"

In [3]:
spam[int(int('3'*2)/11)]

'd'

### 4. What is the value of spam[-1]?

#### Answer:- 
            when the index number is negative means it starts from the last element
        so it start printing the last element.
        so value of spam[-1] = "d"

In [4]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

#### Answer:-
        when a bracket includes [a:b] where a is the starting or lower bound so it starts printing the elements from the 
    index of a. where b is called the upper bound or ending bound so it prints the elements upto precceding index of b
    so spam = ['a','b','c','d']
    spam[:2] = ["a","b"] where index of 2 is excluded.

In [5]:
spam[:2]

['a', 'b']

### Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [6]:
bacon = [3.14,'cat',11,'cat',True]

### 6. What is the value of bacon.index('cat')?

#### Answer:-
          list is the type of datatype which are mutiable and list supports the different types of attributes like append,clear,copy,index,count....etc.
         so the give question is that bacon.index("cat")
         index is the attribute that finds the index number of cat in given list. 
         if list contains the multiple same("cat") variables then index operation counts the very first index of the element. so value of bacon.index('cat') = 1

In [7]:
bacon.index("cat")

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

#### Answer:-
       The given is bacon.append(99)
       append is attribute which add the new element to the list without removing the other elements from the list.
       so the answer is Yes bacon.append(99) change the look of the list value in bacon. 
       so bacon looks like [3.14,'cat',11,'cat',True,99]

In [8]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

#### Answer:- 
        similarlly the remove is the attribute that removes the element which occured for the first time.
        so in case of bacon.remove('cat') it removes the element "cat" from the index no 1
        so the answer is Yes bacon.remove("cat") change the look of the list value in bacon. 
        so it looks like [ 3.14,11,'cat',True,99]

In [9]:
bacon.remove("cat")
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

#### Answer:- 
        The word concatenation means adding one list with another list.
        The word replication means producing the samething.
        Concatenation operator is "+"
        Replication operator is "*"
    There are some procedures to concatenation. concatenation only occurs with same datatype. If data is another type make a typecasting to the data.so it works 
    Examples for concatenation:
        l1 = [1,2,3,4,5,6]
        l2 = [7,8,9,10,11]
        l1 = l1 + l2
        l1
        [1,2,3,4,5,6,7,8,9,10,11]
    Example for replication:
       r  = ["ineuron","krish","sudh","sunny","hites"]
       r = r*2
       r 
       ["ineuron","krish","sudh","sunny","hites","ineuron","krish","sudh","sunny","hites"]

### 10. What is difference between the list methods append() and insert()?

#### Answer:-
        The method or attribute append() is used to add elements to the list at last.
        The method or attribute insert() is used to insert the elements in at prefered index. inserting element or object is done before the index we element
        Example is followed below.

In [10]:
# Example for the insert elements in list
l = [ 1,2,3,4,5,6]   
l.insert(3,"numerics")
l

[1, 2, 3, 'numerics', 4, 5, 6]

In [11]:
#Example for the append.
l.append("insert")
l

[1, 2, 3, 'numerics', 4, 5, 6, 'insert']

### 11. What are the two methods for removing items from a list?

#### Answer:-
    The two methods for removing items from a list
    method-1 : "pop" it removes the last element
    method - 2: "remove" it removes the deserved element to be deleted.
    
    Example:-
    
    rem = [1,2,3,4,"ineuron","sudh",34,56]
    rem.pop()
    56
    rem.remove("sudh")
    rem
    [1,2,3,4,"ineuron",34,]

In [12]:
rem = [1,2,3,4,"ineuron","sudh",34,56]
rem.pop()

56

In [13]:
rem.remove("sudh")
rem

[1, 2, 3, 4, 'ineuron', 34]

### 12. Describe how list values and string values are identical

#### Answer:- 
        So first main diffrence
        The list values or elements that are mutiable.so where as string values are immutiable. so string are always should enclosed with the quotes on both sides.
        both string and list supports the Index slicing or sequencing operation 
        so where as list may contains different data types, where as string should only contain the character only.

### 13. What's the difference between tuples and lists?

#### Answer:-
        Tuples :- 
            i) tuples are immutiable.
           ii) insertion,addition,deletion of elements cannot be done,but we can find the index,count of element
          iii) tuples consume the reserved memory. further there is no memory expantions can be done.
           iv) tuples are always must be enclosed with paranthesis ()
           Example : t = (1,23,4,"ineuron","spam")
       Lists:-
            i) lists are mutiable.
           ii) insertion,addition,deletion of elements can be done.
          iii) list can support the expantion of memory there is no limitaion for expantion
           iv) lists are always must be enclosed with square barckets [ ]
           Example: l = [1,23,4,"ineuron","spam"]
           
       Common properties of both lists and tuples:-
            i) both perform the index slicing operation
           ii) both has the methods of index and count.

### 14. How do you type a tuple value that only contains the integer 42?

#### Answer:-
        In order to make the tuple value that should only contain the integer 42 is possible by help of comma(,) at last in tuple 
      We can't make type casting of single integer to tuple, so trailing comma is necessary only contains the integer 42.
        practical solution is given below:

In [14]:
v = (42,)
print(type(v))

<class 'tuple'>

### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

#### Answer:- 
        we can make using keyword "tuple" to convert list to tuple.
        we can make using keyword "list" to convert tuple to list.
        example is given below:

In [15]:
## Converting the list to tuple.

l = [1,2,3,5,6,"ineuron"] # list is declared 
print(type(l)) # printing the type of l
l = tuple(l) # converting the list to tuple
print(type(l)) #list is converted to tuple

<class 'list'>
<class 'tuple'>

In [16]:
## converting the tuple to list.
t  = (1,23,4,"apple","ball","cat") # tuple is declared
print(type(t)) # printing the type of t
t = list(t) # conveting the tuple to list
print(type(t))#tuple is converted to list

<class 'tuple'>
<class 'list'>

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
# sorry I haven"t understand the question.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

#### Answer:-
        copy is the module in python we have to import the module.
        Python do not copy the item from the variable we declared to copy is the module to copy same variable to another variable.
        copy.copy() only returns the copy of elements
        copy.deepcopy() returns deepcopy elements which we declared in neseted oject elements

In [17]:
#Example:-
import copy as c
l = [1,2,3,["krishna", 4],{"a":123,"b":"vamshi"}]
new_copy = c.copy(l)
l.append(452)
print(new_copy)

[1, 2, 3, ['krishna', 4], {'a': 123, 'b': 'vamshi'}]

In [18]:
import copy as c
new_copy = c.deepcopy(l)
new_copy

[1, 2, 3, ['krishna', 4], {'a': 123, 'b': 'vamshi'}, 452]